<ion-view cache-view="false" style="background:url(&apos;img/main.jpg&apos;);background-size: cover;">
  <ion-content class="padding" scroll="false">
  <div style="margin-top:50%;">
  <img src="img/ionic.png" style="display:block;margin:auto;"/>
  </div>
  <div style="text-align:center;margin-top:10%;font-family: fantasy;font-size: medium;">
  Customers may forget what you said but they'll never forget how you made them feel.
  </div>
  <div style="margin-top: 10%;padding-left: 15%;padding-right: 15%;">
  <button class="button button-block button-positive" ng-click="passView('home')" style="border-radius: 10px;">
  Getting Started
  </button>
  </div>
  </ion-content>
</ion-view>
