/* Empty. Add your own CSS if you like */

.sideMenu{
background:none;
border: none;
color : white;
font-size: 18px;
}

.item-complex .item-content, .item-radio .item-content
{
background : none;
}

.serviceIcon{
text-align : center;
padding : 20px;
}

.headerColor{
background: cadetblue;
border : none;
}